/* ========== Toolvar with nested menu(custom) ========== */
.toolbar__dropdown {
  position: fixed;
  top: 0;
  padding-top: 46px;
}

.toolbar__menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.toolbar__menu__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
}

.toolbar__menu__wrapper .menu__item {
  display: flex;
  align-items: center;
}

/* ========== Search in toolbar fix ========== */
.toolbar__utility header-search-popdown {
  position: static;
}

.toolbar__utility header-search-popdown .search-popdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 6002;
}

.toolbar__utility header-search-popdown .search-popdown + .underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6001;
}

.navlink--search {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart__item {
  border-bottom: none;
}
.cart__item:not(:last-child)::after {
  content: "";
  position: relative;
  top: var(--inner);
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f5eee4;
}

.cart__foot__inner {
  border-top: none;
}
.cart__foot__inner::before {
  content: "";
  position: relative;
  bottom: var(--inner);
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f5eee4;
}

/* Drawer modal styles - dialog that behaves like drawer */
dialog .size-chart-content {
  padding-inline: 28px;
}

dialog .drawer__head {
  position: sticky;
  top: 0;
  z-index: 15;
  padding: var(--inner);
  background: var(--bg);
  border-bottom: none;
}
