/* Rewriting variables */
:root {
  --btn-left: calc(var(--BTN-SIZE-MEDIUM) * 2);
  --font-heading-large: 64px;
  --font-body-large: 20px;
  --PARALLAX-STRENGTH-MAX: 100%;
  --PARALLAX-STRENGTH-MIN: 100%;
  --BTN-FONT-SIZE: 18px;
  --announcement-height: 46px;
}

:root .color-scheme-1 {
  --BTN-PRIMARY-BG: #fffcf3;
  --BTN-SECONDARY-BORDER: #fffcf3;
  --BTN-PRIMARY-TEXT: #24201c;
  --BTN-PRIMARY-BG-BRIGHTER: #ffffff;
  --COLOR-TEXT: #24201c;
}

/*
 * Custom CSS 
 */

.announcement__wrapper {
  background: #f5eee4;
  .body-small {
    font-size: 12px;
    font-weight: 500;
  }
}

.header__mobile {
  min-height: fit-content;
}

.header__logo__text {
  height: fit-content;
  padding: 0;

  span {
    font-family: var(--FONT-STACK-HEADING);
    font-size: 24px;
    line-height: 1.3;
  }
}

.slideshow .hero__content--transparent {
  padding: 0 0 50px 50px;
  max-width: 100%;
}

@media (max-width: 749px) {
  .slideshow .hero__content--transparent {
    padding: 0;
  }
}

.btn {
  text-transform: none;
}

.hero__button-group {
  margin: 0;
  gap: 20px;
}
.hero__button-group .hero__button {
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.article__author-bio h3,
.blog-section .article__image .article__tags {
  line-height: 1.15;
}

.dropdown__family {
  .sup {
    display: none;
  }
}

.toolbar__dropdown {
  position: fixed;
}

.toolbar__menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.toolbar__menu__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
}

.toolbar__menu__wrapper .menu__item {
  display: flex;
  align-items: center;
}
