/* ========== Toolvar with nested menu(custom) ========== */
.toolbar__dropdown {
  position: fixed;
  top: 0;
  padding-top: 46px;
}

.toolbar__menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.toolbar__menu__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
}

.toolbar__menu__wrapper .menu__item {
  display: flex;
  align-items: center;
}

/* ========== Search in toolbar fix ========== */
.toolbar__utility header-search-popdown {
  position: static;
}

.toolbar__utility header-search-popdown .search-popdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 6002;
}

.toolbar__utility header-search-popdown .search-popdown + .underlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6001;
}

.navlink--search {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}